{% extends 'ui_service/base.html' %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
        <div class="post-creation-container">
            <form class="create-post-form" method="post" action="{% url 'create-post' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <p>
                    <label for="post_text">Create New Post:</label>
                    <textarea id="post_text" name="text" id="id_text" required></textarea>
                </p>
                <p>
                    <label for="id_media">Media:</label>
                    <input type="file" name="media" id="id_media">
                </p>
                <div id="media-preview"></div>
                <input type="submit" value="Create Post">
            </form>
        </div>
        {% endif %}

        {% for post in posts %}
            <div class="post-container">
                <div class="post-header">
                        <a href="{% url 'user-profile' post.author.username %}">
                            <img class="post-avatar" src="{{ post.author.avatar_url }}" alt="Author Avatar">
                        </a>
                        <div>
                            <a href="{% url 'user-profile' post.author.username %}" style="text-decoration: none;">
                                <p class="post-author">{{ post.author }}</p>
                            </a>
                            <p class="post-timestamp">{{ post.created_at }}</p>
                        </div>     
                    <hr>
                    {% if user.is_authenticated and post.author == user %}
                        <div class="post-actions-dropdown">
                            <button class="post-actions-btn">&#x2026;</button>
                            <div class="post-actions-content">
                                <a href="{% url 'edit-post' post.id %}" class="post-action">Edit</a>
                                <a href="{% url 'delete-post' post.id %}" class="post-action">Delete</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <hr>
                <div class="post-content">
                    <a href="{% url 'post-detail' post.pk %}" class="post-link">{{ post.text }}
                        <hr>
                        {% if post.media_url %}
                            <img class="post-image" src="{{ post.media_url }}" alt="Post Media">
                        {% endif %}
                    </a>
                </div>
                <hr>
                <div class="count-container">
                    <p class="post-like-count">Likes: <span id="like-count-{{ post.pk }}">{{ post.like_count }}</span></p>
                    <p class="post-comment-count">Comments: <span id="comment-count-{{ post.pk }}">{{ post.comment_count }}</span></p>
                    <p class="post-share-count">Shares: <span id="share-count-{{ post.pk }}">{{ post.share_count }}</span></p>
                </div>
                <hr>
                <div class="post-actions">
                    <button class="like-button" data-post-id="{{ post.pk }}">Like</button>
                    <button class="comment-button" data-post-id="{{ post.pk }}">Comment</button>
                    <button class="share-button" data-post-id="{{ post.pk }}">Share</button>
                </div>
                <div class="comment-section" id="comment-section-{{ post.pk }}">
                    <!-- Comments will be displayed here -->
                </div>

                <div class="create-comment-section" id="create-comment-section-{{ post.pk }}" style="display: none;">
                    <img class="comment-avatar" src="{{ user.avatar_url }}" alt="User Avatar">
                    <textarea id="create-comment-text-{{ post.pk }}" placeholder="Add your comment..." name="text" required></textarea>
                    <button class="create-comment-class" data-post-id="{{ post.pk }}" style="width: 20%;">Comment</button>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        const csrfToken = "{{ csrf_token }}";
    </script>

    {% if not user.is_authenticated %}
    <div class="login-form">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <button type="submit">Login</button>
        </form>
        <p></p>
        <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
    </div>
    {% endif %}
{% endblock %}
