{% extends 'ui_service/base.html' %}

{% block content %}
  <div class="post">
    <h2>{{ post.title }}</h2>
    <p>{{ post.text }}</p>
    {% if post.media %}
        <img src="{{ post.media_url }}" alt="Post Image">
    {% endif %}
    <p>Likes: <span id="like-count">{{ post.like_count }}</span></p>
    {% if user.is_authenticated and post.author == user %}
      <a href="{% url 'edit-post' post.id %}">Edit</a>
      <a href="{% url 'delete-post' post.id %}">Delete</a>
    {% endif %}
    <form id="like-form" method="post" action="{% url 'like-post' post.id %}">
      {% csrf_token %}
      <button id="like-btn" type="submit">Like</button>
    </form>
  </div>

  <div class="comments">
    <h3>Comments</h3>
    {% for comment in post.comments.all %}
      <div class="comment">
        <p>{{ comment.text }}</p>
        <p>Likes: <span id="comment-like-count-{{ comment.id }}">{{ comment.like_count }}</span></p>
        {% if user.is_authenticated and comment.author == user %}
          <a href="{% url 'edit-comm' comment.id %}">Edit</a>
          <a href="{% url 'edit-command' comment.id %}">Delete</a>
        {% endif %}
        <form class="comment-like-form" id="comment-like-form-{{ comment.id }}" method="post" action="{% url 'like-comment' comment.id %}">
          {% csrf_token %}
          <button type="submit" id="like-button">Like</button>
        </form>
      </div>
    {% empty %}
      <p>No comments yet.</p>
    {% endfor %}
  </div>

  <div class="add-comment">
    <h3>Add a Comment</h3>
    <form method="post" action="{% url 'create-comment' post.id %}">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <button type="submit">Add Comment</button>
    </form>
  </div>

  <script>
    // Reload the page after submitting the like form
    document.getElementById("like-form").addEventListener("submit", function() {
      window.location.reload();
    });

    // Reload the page after submitting the comment like form
    const commentLikeForms = document.getElementsByClassName("comment-like-form");
    for (let i = 0; i < commentLikeForms.length; i++) {
      const form = commentLikeForms[i];
      const commentId = form.getAttribute("id").split("-").pop();
      form.addEventListener("submit", function() {
        const likeCountElement = document.getElementById(`comment-like-count-${commentId}`);
        likeCountElement.textContent = parseInt(likeCountElement.textContent) + 1;
        form.querySelector("button").disabled = true;
      });
    }
  </script>
{% endblock %}
