{% extends 'ui_service/base.html' %}

{% block content %}
<div class="container">
    <div class="post-container">
        <div class="post-header">
            <div>
               <p class="post-author">{{ post.author }}</p>
               <p class="post-timestamp">{{ post.created_at }}</p>
           </div>
        </div>
        <div class="post-content">
            <a href="{% url 'post-detail' post.pk %}" class="post-link">{{ post.text }}
                {% if post.media_url %}
                    <img class="post-image" src="{{ post.media_url }}" alt="Post Media">
                {% endif %}
            </a>
        </div>
        {% if user.is_authenticated and post.author == user %}
            <div class="post-actions">
                <a href="{% url 'edit-post' post.id %}" class="post-action">Edit</a>
                <a href="{% url 'delete-post' post.id %}" class="post-action">Delete</a>
            </div>
        {% endif %}
        <div class="like-container">
            <p class="post-like-count">Likes: <span id="like-count-{{ post.pk }}">{{ post.like_count }}</span></p>
            <button class="like-post-button" data-post-id="{{ post.pk }}">Like</button>   
        </div>

        <div class="comment-container">
            {% for comment in post.comments.all %}
            <div class="comment">
                <p>{{ comment.text }}</p>

                {% if user.is_authenticated and comment.author == user %}
                    <a href="{% url 'edit-comment' comment.id %}">Edit</a>
                    <a href="{% url 'delete-comment' comment.id %}">Delete</a>
                {% endif %}

                <div class="like-container">
                    <p>Likes: <span id="like-count-{{ comment.id }}">{{ comment.like_count }}</span></p>
                    <button class="like-comment-button" data-comment-id="{{ comment.id }}">Like</button>
                </div>
    
            </div>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
        </div>
    </div>

    <div class="add-comment">
        <h3>Add a Comment</h3>
        <form method="post" action="{% url 'create-comment' post.id %}">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">Add Comment</button>
        </form>
    </div>
</div>
        
<script>
    const csrfToken = "{{ csrf_token }}";
    const likePostButtons = document.querySelectorAll('.like-post-button');
    const likeCommentButtons = document.querySelectorAll('.like-comment-button');

    likePostButtons.forEach((button) => {   
        button.addEventListener('click', (event) => {
            event.stopPropagation();

            const postId = button.dataset.postId;
            const likeCountElement = document.querySelector(`#like-count-${postId}`);

            fetch(`/posts/${postId}/like/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
            })
            .then((response) => response.json())
            .then((data) => {
                likeCountElement.textContent = data.like_count;

                if (data.is_liked) {
                    button.textContent = 'Unlike';
                } else {
                    button.textContent = 'Like';
                }
            })
            .catch((error) => {
                console.log(error);
            });
        });
    });


    likeCommentButtons.forEach((button) => {   
        button.addEventListener('click', (event) => {
            event.stopPropagation();

            const commentId = button.dataset.commentId;
            const likeCountElement = document.querySelector(`#like-count-${commentId}`);

            fetch(`/comments/${commentId}/like/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
            })
            .then((response) => response.json())
            .then((data) => {
                likeCountElement.textContent = data.like_count;

                if (data.is_liked) {
                    button.textContent = 'Unlike';
                } else {
                    button.textContent = 'Like';
                }
            })
            .catch((error) => {
                console.log(error);
            });
        });
    });
</script>

{% endblock %}
