{% extends 'ui_service/base.html' %}
{% block content %}

<h2>{{ user.username }}</h2>
<p>Email: {{ user.email }}</p>
<p>Joined: {{ user.created_at }}</p>

<div class="container">
    {% if user.is_authenticated %}
    <div class="post-creation-container">
        <form class="create-post-form" method="post" action="{% url 'create-post' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                <label for="post_text">Create New Post:</label>
                <textarea id="post_text" name="text" id="id_text" required></textarea>
            </p>
            <p>
                <label for="id_media">Media:</label>
                <input type="file" name="media" id="id_media">
            </p>
            <div id="media-preview"></div>
            <input type="submit" value="Create Post">
        </form>
    </div>
    {% endif %}

    {% for post in posts %}
        <div class="post-container">
            <div class="post-header">
                 <div>
                    <p class="post-author">{{ post.author }}</p>
                    <p class="post-timestamp">{{ post.created_at }}</p>
                </div>
            </div>
            <div class="post-content">
                <a href="{% url 'post-detail' post.pk %}" class="post-link">{{ post.text }}
                {% if post.media_url %}
                    <img class="post-image" src="{{ post.media_url }}" alt="Post Media">
                {% endif %}
                </a>
            </div>
            {% if user.is_authenticated and post.author == user %}
                <div class="post-actions">
                    <a href="{% url 'edit-post' post.id %}" class="post-action">Edit</a>
                    <a href="{% url 'delete-post' post.id %}" class="post-action">Delete</a>
                </div>
            {% endif %}
            <div class="like-container">
                <p class="post-like-count">Likes: <span id="like-count-{{ post.pk }}">{{ post.like_count }}</span></p>
                <button class="like-button" data-post-id="{{ post.pk }}">Like</button>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
