{% extends 'ui_service/base.html' %}
{% block content %}
{% if user.is_authenticated %}
    <div class="photo-profile-container">
        <div class="cover-photo-container">
            {% if user.cover_photo %}
                <img class="cover-photo" src="{{ user.cover_photo.url }}" alt="{{ user.username }} Cover Photo">
            {% endif %}
            <div class="avatar-container">
                {% if user.avatar %}
                    <img class="avatar" src="{{ user.avatar.url }}" alt="{{ user.username }} Avatar">
                {% endif %}
            </div>
        </div>

        <div class="user-info">
            <div class="user-name">{{ user.username }}</div>
            <div class="user-email">Email: {{ user.email }}</div>
            <div class="user-joined">Joined: {{ user.created_at }}</div>
            <div class="user-followers">Followers: {{ follower_count }}</div>
            <div class="user-bio">Bio: {{ user.bio }}</div>

            <!-- {% if user == request.user %}
                <div class="update-profile-container">
                    <h3>Update Profile</h3>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ update_profile_form.as_p }}
                        <input type="submit" value="Update Profile">
                    </form>
                    <script>
                        document.getElementById("id_avatar").addEventListener("click", function() {
                            document.getElementById("id_avatar").click();
                        });

                        document.getElementById("id_cover_photo").addEventListener("click", function() {
                            document.getElementById("id_cover_photo").click();
                        });
                    </script>
                </div>
            {% endif %} -->
        </div>
    </div>
    {% if user != request.user %}
        {% if is_following %}
            <form method="post" action="{% url 'follow-unfollow-user' user.username %}">
                {% csrf_token %}
                <button class="follow-button" type="submit">Unfollow</button>
            </form>
        {% else %}
            <form method="post" action="{% url 'follow-unfollow-user' user.username %}">
                {% csrf_token %}
                <button class="follow-button" type="submit">Follow</button>
            </form>
        {% endif %}
    {% endif %}

    <div class="container">
        {% if user == request.user %}
            <div class="post-creation-container">
                <form class="create-post-form" method="post" action="{% url 'create-post' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>
                        <label for="post_text">Create New Post:</label>
                        <textarea id="post_text" name="text" id="id_text" required></textarea>
                    </p>
                    <p>
                        <label for="id_media">Media:</label>
                        <input type="file" name="media" id="id_media">
                    </p>
                    <div id="media-preview"></div>
                    <input type="submit" value="Create Post">
                </form>
            </div>
        {% endif %}

        {% for post in posts %}
            <div class="post-container">
                <div class="post-header">
                    <div>
                        <p class="post-author">{{ post.author }}</p>
                        <p class="post-timestamp">{{ post.created_at }}</p>
                    </div>
                    {% if user.is_authenticated and post.author == user %}
                        <div class="post-actions-dropdown">
                            <button class="post-actions-btn">&#x2026;</button>
                            <div class="post-actions-content">
                                <a href="{% url 'edit-post' post.id %}" class="post-action">Edit</a>
                                <a href="{% url 'delete-post' post.id %}" class="post-action">Delete</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <hr>
                <div class="post-content">
                    <a href="{% url 'post-detail' post.pk %}" class="post-link">{{ post.text }}
                        <hr>
                        {% if post.media_url %}
                            <img class="post-image" src="{{ post.media_url }}" alt="Post Media">
                        {% endif %}
                    </a>
                </div>
                <div class="like-container">
                    <p class="post-like-count">Likes: <span id="like-count-{{ post.pk }}">{{ post.like_count }}</span></p>
                </div>
                <hr>
                <div class="post-actions">
                    <button class="like-button" data-post-id="{{ post.pk }}">Like</button>
                    <button class="comment-button" data-post-id="{{ post.pk }}">Comment</button>
                    <button class="share-button" data-post-id="{{ post.pk }}">Share</button>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
