/* Reset default styles */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    /* text-align: center; */
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}





/* Post Creation CSS */

.post-creation-container {
    margin: 20 auto;
    max-width: 650px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    
}
  
.create-post-form {
    width: 100%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}
  
.create-post-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.create-post-form textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
  
.create-post-form button {
    display: block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
  
.create-post-form button:hover {
    background-color: #45a049;
}


/* Post List CSS */

.container {
    max-width: 600px;
    margin: 20px auto;
}

.post-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-author {
    font-weight: bold;
    margin: 0;
}

.post-timestamp {
    color: #888;
    font-size: 12px;
    margin: 0;
}

.post-content {
    margin-bottom: 10px;
}

.post-link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.post-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.post-actions {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-action {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.post-like-count {
    margin: 0;
}

.follow-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.follow-button:hover {
    background-color: #0056b3;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  
  
  .register-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  
  button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  label {
    margin-bottom: 5px;
    color: #555;
  }
  
  input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%; 
  }
  
  a.post-link {
      text-decoration: none; /* Disable underline */
      color: inherit; /* Inherit text color from the parent */
  }

.comment-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
}

.comment {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.comment p {
    margin: 0;
    font-size: 14px;
}

.comment-actions {
    margin-bottom: 10px;
}

.comment-action {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}


.photo-profile-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.cover-photo-container {
    position: relative;
    width: 100%;
    max-width: 1200px; /* Adjust the maximum width as needed */
    max-height: 400px;
    overflow: hidden;
}

.cover-photo {
    width: 100%;
    height: auto;
}

.avatar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 4px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    margin: 20px;
}

.avatar {
    width: 200px; /* Adjust the size of the avatar as needed */
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.user-info {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.update-profile-container {
    margin-top: 20px;
}


.post-actions-dropdown {
    position: relative;
    margin-left: auto;
}

.post-actions-btn {
    background-color: #ffffff;
    color: gray;
    border: none;
    font-size: 25px;
    cursor: pointer;
    font-weight: 600;
}

.post-actions-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.post-actions-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.post-actions-content a:hover {
    background-color: #f1f1f1;
}

.post-actions-dropdown:hover .post-actions-content {
    display: block;
}


.post-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.like-button, .comment-button, .share-button {
    width: 32%;
    background-color: #e8eff3; 
    color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.like-button, .comment-button, .share-button:hover {
    background-color: #e8eff3;
}

.count-container {
    display: flex;
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
}

.post-like-count, .post-comment-count, .post-share-count {
    width: 32%;
    background-color: #ffffff;
    color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-actions-dropdown {
    position: relative;
    margin-left: auto;
}

.comment-actions-btn {
    background-color: #ffffff;
    color: gray;
    border: none;
    font-size: 25px;
    cursor: pointer;
    font-weight: 600;
}

.comment-actions-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.comment-actions-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.comment-actions-content a:hover {
    background-color: #f1f1f1;
}

.comment-actions-dropdown:hover .post-actions-content {
    display: block;
}


.comment-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.comment-detail-container {
    display: flex;
    align-items: flex-start;
}


.comment-avatar {
    border-radius: 50%;
    width: 40px; /* Adjust the size of the avatar as needed */
    height: 40px; /* Adjust the size of the avatar as needed */
    margin-right: 10px; /* Adjust the margin as needed */
    background-color: #ccc; /* Example background color */
}

.comment-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.comment-sub-detail {
    display: flex;
    align-items: center;
    margin-top: 5px; /* Adjust the margin as needed */
}

p.comment-timestamp {
    font-size: 12px; /* Adjust the font size as needed */
    color: #888; /* Adjust the color as needed */
    margin-right: 5px; /* Adjust the margin as needed */
}

.like-comment-button {
    background: none;
    border: none;
    color: #888; /* Adjust the color as needed */
    cursor: pointer;
    padding: 0;
    font-size: 12px;
    margin-right: 5px;
    margin-left: 20px; /* Adjust the margin as needed */
}

.like-comment-button:hover {
    text-decoration: underline;
}

.comment-detail-form {
    border: 1px solid #ccc; /* Add a 1px solid border with a light gray color */
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 10px; /* Add some padding for better spacing */
    margin-bottom: 10px; /* Add margin at the bottom for separation */
}

.comment-detail-form p {
    margin: 0; /* Remove default margin for paragraphs inside comment-detail-form */
}

.comment-detail-form .comment-author {
    font-weight: bold; /* Make the author's name bold */
    margin-bottom: 5px; /* Add margin at the bottom of the author's name for separation */
}
